body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Arial Black', sans-serif;
  overflow: hidden;
}

.text-gradient {
  background: linear-gradient(to right, #FF6B00, #FFB800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
